<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Portfolio</title>
</head>
<body>
	<div class="section-intro">
		<img src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362" id='img'>
	</div>
	<nav class="nav-bar">
		<ul class="nav justify-content-center">
		 	<li class="Home">
		    	<a class="nav-link" href="#">HOME</a>
		  	</li>
		  	<li class="About nav-item">
		    	<a class="nav-link" href="#about">ABOUT</a>
		  	</li>
		  	<li class="Skill nav-item">
		    	<a class="nav-link" href="#technical">SKILL</a>
		  	</li>
		  	<li class="Experience nav-item">
		    	<a class="nav-link" href="#work-experience">EXPERIENCE</a>
		  	</li>
		  	<li class="Education nav-item">
		    	<a class="nav-link" href="#edu-diploma">EDUCATION</a>
		  	</li>
		  	<li class="Portfolio nav-item">
		    	<a class="nav-link" href="#project">PROJECTS</a>
		  	</li>
		  	<li class="Contact nav-item">
		    	<a class="nav-link" href="#contact">CONTACT</a>
		  	</li>
		</ul>
	</nav>
	<div class="about" id='about'>
		<div class="container">
			<div class="heading-about">
				<div class="heading-about-small">
					<h2 class="big-title">ABOUT ME</h2>
					<p>A small introduction about myself</p>
				</div>
				<div class="row">
					<div class="  col-lg-7 col-sm-12">
						<div class="introduction">
							<h3>Trương Công Hiền Nhân</h3>
							<h4>BackEnd Web Developer</h4>
							<p>
								I'm a third-year student at DUT (Danang University of Science and Technology as known as Bách Khoa Đà Nẵng). My major is Information and Technology (IT). I'm a Back-end web developer (Django). I also know HTML, CSS, Boostrap and a little Js. Keeping learning and learning in order that i can be a professional developer.
							</p>
							<p>
								I like writing code, playing game and learning new things. Experienced Project Manager with IT experience. Skills include computer networking, analytical thinking and creative problem solving. Able to apply customer service concepts to IT to improve user experience for clients, employees and administration.
							</p>
							<button class="btn btn-secondary" id="btnDownCV">
								<a href="https://app.rezi.io/s/FEK1prmoYXzq5BqLE79f"> Download Printable Resume </a>
							</button>
						</div>
					</div>
					<div class=" col-lg-4 col-sm-12" id="profilePic">
						<img class="img-introduction" src="https://i.ibb.co/CWr2z3s/Nhan.jpg" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="technical" id="technical">
		<div class="container">
			<div class="content-tech">
				<div class="heading-tech text-center">
					<h2 class="big-title"> TECHNICAL SKILLS </h2>
					<p class="small-title"> I can say i’m quite good at </p>
				</div>
				<div class="row" id="row-img">
					<div class="col-4 text-center">
						<img src="https://i.ibb.co/dKgLv4H/1200px-Python-svg.png" alt="" class="img-tech" />
						<h4 class="img-tech-h4">PYTHON</h4>
					</div>
					<div class="col-4 text-center">
						<img src="https://i.ibb.co/ZS110qj/mysql-1-logo.png" class="img-tech" id="img-tech-sql" />
						<h4 class="img-tech-h4">SQL</h4>
					</div>
					<div class="col-4 text-center">
						<img src="https://i.ibb.co/QpHzPDK/html-css-js-boostrap.png" alt="" class="img-tech" />
						<h4 class="img-tech-h4">HTML/CSS/JS/BOOSTRAP</h4>
					</div>
					<div class="col-4 text-center">
						<img src="https://i.ibb.co/bvqS942/django.png" alt="" class="img-tech" id="img-tech-django"/>
						<h4 class="img-tech-h4">DJANGO</h4>
					</div>
					<div class="col-4 text-center">
						<img src="https://i.ibb.co/4MrpsB1/LOGO-PHOTOSHOP.png" alt="" class="img-tech" id="img-tech-photoshop"/>
						<h4 class="img-tech-h4">PHOTOSHOP</h4>
					</div>
					<div class="col-4 text-center">
						<img src="https://i.ibb.co/XVWKsNL/english.png" alt="" class="img-tech" />
						<h4 class="img-tech-h4">ENGLISH</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="work-experience" id="work-experience">
		<div class="container">
			<div class="content">
				<div class="heading-exp text-center">
					<h2 class="big-title"> WORK EXPERIENCE </h2>
					<p class="small-title"> What I have done in my academic career </p>
				</div>
				<div class="row row-exp">
					<div class="col-2">
						<div class="work-year">
							June, 2018
						</div>
					</div>
					<div class="col-10 rightside">
						<div class="greybg">
							<h4>DUT</h4>
							<h5>Danang University of Science and Technology</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
						</div>
					</div>
				</div>
				<div class="row row-exp">
					<div class="col-2">
						<div class="work-year">
							June, 2018
						</div>
					</div>
					<div class="col-10 rightside">
						<div class="greybg">
							<h4>DUT</h4>
							<h5>Danang University of Science and Technology</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
						</div>
					</div>
				</div>
				<div class="row row-exp">
					<div class="col-2">
						<div class="work-year">
							June, 2018
						</div>
					</div>
					<div class="col-10 rightside">
						<div class="greybg">
							<h4>DUT</h4>
							<h5>Danang University of Science and Technology</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="edu-diploma" id="edu-diploma">
		<div class="container">
			<div class="content">
				<div class="heading-exp text-center">
					<h2 class="big-title"> EDUCATION & DIPLOMAS </h2>
					<p class="small-title"> What I have done in my academic career </p>
				</div>
				<div class="row row-exp">
					<div class="col-2">
						<div class="work-year">
							June, 2018
						</div>
					</div>
					<div class="col-10 rightside">
						<div class="greybg" style="background-color: #fefefe">
							<h4>DUT</h4>
							<h5>Danang University of Science and Technology</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
						</div>
					</div>
				</div>
				<div class="row row-exp">
					<div class="col-2">
						<div class="work-year">
							June, 2018
						</div>
					</div>
					<div class="col-10 rightside">
						<div class="greybg" style="background-color: #fefefe">
							<h4>DUT</h4>
							<h5>Danang University of Science and Technology</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
						</div>
					</div>
				</div>
				<div class="row row-exp">
					<div class="col-2">
						<div class="work-year">
							June, 2018
						</div>
					</div>
					<div class="col-10 rightside">
						<div class="greybg" style="background-color: #fefefe">
							<h4>DUT</h4>
							<h5>Danang University of Science and Technology</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="project" id="project">
		<div class="container">
			<div class="text-center" style="padding-top: 80px">
				<h2>PROJECTS</h2>
				<p>Showcase of my lastest works</p>
			</div>
			<div class="list-img">
				<div class="wrap-img">
					<div class="project-overlay"></div>
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
				<div class="wrap-img">
					<div class="img-project">
						<img src="https://i.ibb.co/CWr2z3s/Nhan.jpg" alt="">
					</div>
					<div class="project-details fadeIn-top fadeIn-left">
						<p class="info-project">“For true love to be there, you need to feel complete in yourself, not needing something 🧡</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="get-in-touch text-center">
		<h2 class="big-title"> GET IN TOUCH </h2>
		<p class="small-title"> Please feel free if you would like to have a chat. </p>
	</div>
	<div id="map" style="width:100%;height:400px;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.720630884972!2d108.20634931466238!3d15.975959146174729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDU4JzMzLjQiTiAxMDjCsDEyJzMwLjciRQ!5e0!3m2!1svi!2s!4v1614600734997!5m2!1svi!2s" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
	<div class="contact" id="contact">
		<div class="container">
			<div class="row-contact">
				<div class="col-4 left-info">
					<h4> CONTACT ME </h4>
					<p class="">
						<i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
						Danang, Vietnam
					</p>
					<p class="">
						<i class="fa fa-mobile fa-lg" aria-hidden="true"></i>
						(+84) 789.14.9969
					</p>
					<p>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href = "mailto: abc@example.com">trconghiennhan2712@gmail.com</a>
					</p>
					<p>
						<i class="fa fa-link"></i>
						<a href="#">website.com</a>
					</p>
				</div>
				<div class="col-8 right-form">
					<h4> SHOOT A MESSAGE ! </h4>
					<div class="row">
						<div class="col-6">
							<input type="" name="" class="w-100 msg-input h-75" placeholder="Your name...">
						</div>
						<div class="col-6">
							<input type="" name="" class="w-100 msg-input h-75" placeholder="Your mail...">
						</div>
						<div class="col-12" style="margin-bottom: 40px;">
							<textarea class="w-100 msg-input h-100" placeholder="Your message..."></textarea>
						</div>
						<div class="col-12">
							<button type="button" class="d-flex btn btn-info btn-sendmsg"> Send message </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container text-center">
			<p>&copy; Nhandz 2021</p>
		</div>
	</footer>
</body>
</html>